/***********************************
************************************

    General Woocommerce Styles

************************************/


.woocommerce-page.content-sidebar {
    #container {
        @include span-columns(12);

        @include media($small-screen-up) {
            @include span-columns(8);
        }
    }
    .sidebar-primary {
        @include span-columns(12);

        @include media ($small-screen-up) {
            @include span-columns(4);
            @include omega();
        }
    }
}

.woocommerce-page.sidebar-content {
    #container {
        @include span-columns(12);

        @include media($small-screen-up) {
            @include span-columns(8);
            @include omega();
        }
    }
    .sidebar-primary {
        @include span-columns(12);

        @include media ($small-screen-up) {
            @include span-columns(4);
        }
    }
}

.content {
    margin-bottom: 40px;
}


.woocommerce-pagination {
    clear: both;
    padding: 40px 0;

    li {
        float: left;
        margin: 0 5px;
        list-style-type: none;
    }
}


.up-cart-indicator {

    margin-top: 20px;

    i {
        float: left;
        padding: 5px 10px 0 0;
    }

    @include media($small-screen-up) {
        margin-top: 0px;
    }
}




@mixin mediaright() {
	@include clearfix();

	img {
		float: right;
		height: auto;
	}
}



.woocommerce-checkout {
    .entry-content ul > li.wc_payment_method  {
            list-style-type: none;
    }
}
