/***********************************
************************************

    General Woocommerce Styles

************************************/


.woocommerce-page.content-sidebar {
    #container {
        @include span-columns(12);

        @include media($small-screen-up) {
            @include span-columns(8);
        }
    }
    .sidebar-primary {
        @include span-columns(12);

        @include media ($small-screen-up) {
            @include span-columns(4);
            @include omega();
        }
    }
}


.woocommerce-pagination {
    clear: both;
    padding: 40px 0;

    li {
        float: left;
        margin: 0 5px;
        list-style-type: none;
    }
}


.up-cart-indicator {
    i {
        float: left;
        padding: 5px 10px 0 0;
    }
}
