/***********************************
************************************

        Product Archive

************************************/

.post-type-archive-product,
.tax-product_cat {

    ul.products li.product {
        @include span-columns(6);

        list-style-type: none;
        padding: 0 0 15px 0;
        margin: 10px 2px;
        position: relative;
        text-align: center;

        .price {
            margin-bottom: 10px;
        }

        .add_to_cart_button {
            font-size: 10px;

            @include media($small-screen-up) {
                font-size: 16px;
            }
        }

        @include media ($small-screen-up) {
            @include span-columns(4);

            margin: 10px 4px;
        }


    }



}
